<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- Log4j configuration for the Search Manager. -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<!-- Log to the console at debug level -->
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p  [%c{1}] %m %n" />
		</layout>
	</appender>

	<!-- Log to file at info level -->
	<appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="INFO" />
		<param name="File" value="searchManager.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p  [%c{1}] %m %n" />
		</layout>
	</appender>
	
	<!-- Logging of spring security -->
	<appender name="security-file" class="org.apache.log4j.RollingFileAppender">  
        <param name="File" value="security.log"/>  
        <param name="Append" value="true"/>  
        <param name="MaxFileSize" value="2MB"/>  
        <param name="MaxBackupIndex" value="5"/>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="[%d] [%c{1}] %m%n"/>   
        </layout>  
    </appender>  

	<!-- Logging of audit trail -->
	<appender name="audit-file" class="org.apache.log4j.RollingFileAppender">  
        <param name="File" value="audit.log"/>  
        <param name="Append" value="true"/>  
        <param name="MaxFileSize" value="2MB"/>  
        <param name="MaxBackupIndex" value="5"/>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="[%d] [%c{1}] %m%n"/>   
        </layout>  
    </appender> 
    
    <logger name="com.search.manager" additivity="false">
		<level value="INFO, DEBUG" />
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="fileAppender" />
	</logger>
	
	<logger name="com.search.manager.authentication.session" additivity="false">
		<level value="INFO, DEBUG" />
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="fileAppender" />
	</logger>
	
    <logger name="com.search.manager.aop.LoginInterceptor" additivity="false">
		<level value="INFO, DEBUG" />
		<appender-ref ref="consoleAppender"/>
		<appender-ref ref="audit-file" />
	</logger>
	
	<logger name="org.springframework.security.web.authentication" additivity="false">
		<level value="INFO, DEBUG" />
		<appender-ref ref="consoleAppender"/>
		<appender-ref ref="security-file" />
	</logger>
	
</log4j:configuration>