<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <context-param>
		<param-name>GLOBAL_INIT_PROPERTIES</param-name>
		<param-value>/home/solr/conf/globalvar.properties</param-value>
	</context-param>
	
	<context-param>
	    <param-name>log4jConfigLocation</param-name>
	    <param-value>file:/home/solr/conf/log4j.xml</param-value>
  	</context-param>
  	
	<listener>
	    <listener-class>
			org.springframework.web.util.Log4jConfigListener
		</listener-class>
	</listener>
    
	<!-- Processes application requests -->
	<servlet>
		<servlet-name>searchManager</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/spring/spring-servlet.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Map all requests to the Spring MVC Dispatcher -->
	<servlet-mapping>
		<servlet-name>searchManager</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- Map resource exclusions by extension, this overrides the mapping above -->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
		<url-pattern>*.js</url-pattern>
		<url-pattern>*.htm</url-pattern>
		<url-pattern>*.jpg</url-pattern>
		<url-pattern>*.png</url-pattern>
		<url-pattern>*.gif</url-pattern>
	</servlet-mapping>

	<!-- Start Security Configuration -->
	<listener>
	    <listener-class>
	      org.springframework.security.web.session.HttpSessionEventPublisher
	    </listener-class>
	</listener>

	<listener>
	  <listener-class>
	      org.springframework.web.context.request.RequestContextListener
	  </listener-class>
	</listener>
	
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring/spring-context.xml
        </param-value>
    </context-param>
 
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<session-config>
		<session-timeout>-1</session-timeout>
	</session-config>

	<!-- Check if we can remove this -->
	<servlet>
		<servlet-name>config</servlet-name>
		<servlet-class>com.search.ws.ConfigServlet</servlet-class>
		<init-param>
			<param-name>config-folder</param-name>
			<param-value>/home/solr/conf</param-value>
		</init-param>
		<init-param>
			<param-name>config-file</param-name>
			<param-value>solr.xml</param-value>
		</init-param>
		<init-param>
			<param-name>relevancy-config-file</param-name>
			<param-value>relevancy.xml</param-value>
		</init-param>
		<init-param>
			<param-name>enterpriseSearch-config-file</param-name>
			<param-value>enterpriseSearch.xml</param-value>
		</init-param>
		<init-param>
			<param-name>messages-config-file</param-name>
			<param-value>messages.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>config</servlet-name>
		<url-pattern>/config</url-pattern>
	</servlet-mapping>

	<!-- Search Web Service -->
	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>com.search.ws.SearchServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search/*</url-pattern>
	</servlet-mapping>

	<!-- Enterprise Search Web Service -->
	<servlet>
		<servlet-name>enterpriseSearch</servlet-name>
		<servlet-class>com.search.ws.EnterpriseSearchServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>enterpriseSearch</servlet-name>
		<url-pattern>/enterpriseSearch/*</url-pattern>
	</servlet-mapping>
	
	<!-- DWR Entity -->
	<servlet>
		<servlet-name>dwr</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>classes</param-name>
			<param-value>
				com.search.manager.service.AuditService,
				com.search.manager.service.BannerService,
				com.search.manager.service.CampaignService,
				com.search.manager.service.CatalogService,
				com.search.manager.service.CategoryService,
				com.search.manager.service.CommentService,
				com.search.manager.service.DemoteService,
				com.search.manager.service.DeploymentService,
				com.search.manager.service.ElevateService,
				com.search.manager.service.EnumUtilityService,
				com.search.manager.service.ExcludeService,
				com.search.manager.service.FacetSortService,
				com.search.manager.service.FeatureService,
				com.search.manager.service.LinguisticsService,
				com.search.manager.service.RedirectService,
				com.search.manager.service.RelevancyService,
				com.search.manager.service.ReportGeneratorService,
				com.search.manager.service.RuleVersionService,
				com.search.manager.service.RuleTransferService,
				com.search.manager.service.SecurityService,
				com.search.manager.service.StatisticService,
				com.search.manager.service.StoreKeywordService,
				com.search.manager.service.SynonymService,
				com.search.manager.service.TopKeywordService,
				com.search.manager.service.UserSettingService,
				com.search.manager.service.UtilityService,
				com.search.manager.service.ZeroResultService,
				com.search.manager.service.KeywordTrendsService,
				com.search.manager.cache.service.CacheService,
				com.search.manager.model.AuditTrail,
				com.search.manager.model.Category,
				com.search.manager.model.CategoryList,
				com.search.manager.model.Comment,
				com.search.manager.model.DemoteProduct,
				com.search.manager.model.DeploymentModel,
				com.search.manager.model.ElevateProduct,
				com.search.manager.model.ExportRuleMap,
				com.search.manager.model.FacetGroup,
				com.search.manager.model.FacetGroupItem,
				com.search.manager.model.FacetSort,
				com.search.manager.model.Group,
				com.search.manager.model.Keyword,
				com.search.manager.model.KeywordStats,
				com.search.manager.model.Product,
				com.search.manager.model.RecordSet,
				com.search.manager.model.RedirectRule,
				com.search.manager.model.RedirectRule$RedirectType,
				com.search.manager.model.RedirectRuleCondition,
				com.search.manager.model.Relevancy,
				com.search.manager.model.RelevancyKeyword,
				com.search.manager.model.RoleModel,
				com.search.manager.model.RuleStatus,
				com.search.manager.model.RuleVersionInfo,
				com.search.manager.model.Store,
				com.search.manager.model.StoreKeyword,
				com.search.manager.model.TopKeyword,
				com.search.manager.model.User,
				com.search.manager.model.ZeroResult,
				com.search.manager.report.model.xml.ElevateRuleXml,
				com.search.manager.report.model.xml.ExcludeRuleXml,
				com.search.manager.report.model.xml.DemoteRuleXml,
				com.search.manager.report.model.xml.ElevateItemXml,
				com.search.manager.report.model.xml.ExcludeItemXml,
				com.search.manager.report.model.xml.DemoteItemXml,
				com.search.manager.report.model.xml.FacetSortRuleXml,
				com.search.manager.report.model.xml.FacetSortGroupXml,
				com.search.manager.report.model.xml.RankingRuleXml,
				com.search.manager.report.model.xml.RedirectRuleXml,
				com.search.manager.report.model.xml.RuleKeywordXml,
				com.search.manager.report.model.xml.RuleConditionXml,
				com.search.manager.report.model.xml.RuleXml,
				com.search.manager.schema.model.Field,
				com.search.manager.schema.model.FieldType,
				com.search.manager.schema.model.GenericType,
				com.search.manager.schema.model.BoostFactor,
				com.search.manager.schema.model.bq.BoostQueryModel,
				com.search.manager.schema.model.bq.BoostQuery,
				com.search.manager.schema.model.bq.SubQuery,
				com.search.manager.schema.model.bq.Expression,
				com.search.manager.schema.model.bq.LogicalOperator,
				com.search.manager.schema.analyzer.model.AnalyzerComponent,
				com.search.manager.schema.analyzer.model.AnalyzerComponent$AnalyzerComponentType,
				com.search.manager.schema.model.qf.QueryField,
				com.search.manager.schema.model.mm.MinimumToMatchModel,
				com.search.manager.schema.model.mm.FixedMatch,
				com.search.manager.schema.model.mm.ConditionalMatch,
				com.search.manager.cache.dao.DaoCacheServiceImpl,
				com.search.manager.authentication.dao.UserDetailsImpl,
				com.search.manager.model.DeploymentModel,
				com.search.manager.utility.CatCodeUtil$Attribute,
				com.search.manager.utility.CatCodeUtil$Template,
				com.search.manager.enums.ExportType,
				com.search.manager.enums.FacetGroupType,				
				com.search.manager.enums.MemberTypeEntity,		
				com.search.manager.enums.RuleEntity,		
				com.search.manager.enums.RuleType,				
				com.search.manager.enums.SortType,	
				com.search.manager.enums.ReplaceKeywordMessageType,
				com.search.manager.exception.PublishLockException		
			</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>dwr</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	
</web-app>
