
.relevancy h4					{ border:1px solid #d0d0d0; background:#ededed; padding:6px;  }

.relevancy .landingCont			{ background:#f1f0f0; border:1px solid #e5e4e4; padding:6px 10px; margin-top:1px; margin-bottom:20px;  }
.relevancy .landingCont ul		{ list-style: none; background: #fafafa; margin:0 }
.relevancy .landingCont li		{ padding: 4px; margin:0 }
.relevancy .AlphaCont			{ background: #ebf1f5; border:1px solid #c9d6de; padding:6px}
.relevancy .AlphaCont label		{ float:left; margin-left:10px; }


.newRelevancy label				{ float:left; margin:3px; }
.newRelevancy label.txtLabel	{ padding-top:5px }

.landingCont label img.ui-datepicker-trigger  { margin-left:3px; position:relative; top:7px } 
.newRelevancy label img.ui-datepicker-trigger { margin-left:3px; position:relative; top:4px }


.relevancy .containerHolder		{ background: #eee; margin:2px; padding-top:15px; color:#9c9c9c }


/* query fields */
.menuFields						{ list-style: none; margin:0; padding:10px 0 0 0;  }
.menuFields	li					{ font:bold 12px arial; padding:7px 3px 5px 3px }
.menuFields	li img				{ margin-top:-2px !important }

.tblfields						{ border:0; margin-top:5px }
.tblfields td					{ padding:8px 5px; }
.tblfields td.fields			{ width: 72% !important }

.fieldsHolder					{ position:relative; width:245px; border-left:4px solid #9c9c9c; padding-left:5px; margin-left:5px; }
.txtHolder						{ float:left; z-index:100; color:#1e1e1e; font-weight:bold; margin-top:5px; margin-left:7px }

.searchBoxIconBg				{ background:url(../../images/icon-search.png) center right no-repeat #fff; }

.fieldListing					{ background:#ebebeb; padding:5px 8px; }

.MM								{ -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding:5px; margin:5px; background:#ebf1f5; border:1px solid #c9d6de; width: 94% } 
.MM label						{ float:left; padding:0; margin:2px 3px }
.MM input[type=text]			{ height: 15px; padding:3px 0 3px 0; margin-left:0; margin-right:0; text-align:right}
.MM select 						{ margin-left:0; margin-right:0; margin-bottom:0; padding-bottom:0;  }
.MM ul							{ list-style: none; margin:0; padding:0;  }
.MM ul:nth-child(1)  			{ border-bottom:1px solid #eee}
.MM li							{ margin:0; width: 300px; clear:both}
.MM li img						{ border:0 }

.relevancyShade					{ -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding:0 8px; margin:5px 0; background:#ebf1f5; border:1px solid #c9d6de; }
.relevancyShade h3				{ margin:5px; }

