<html>
<body>
<h3>Hi ${fullName}, </h3>

<div>
As you requested, your ${app-name} password has now been reset. Your new details are as follows:
<p>
Username: ${username} 
<br/>
Password: ${password}
</div>
</body>

</html>