<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  <display-name>Search Gui WS</display-name>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>file:/home/solr/bin/ws/config/log4j.xml</param-value>
  </context-param>
  <listener>
    <listener-class>
			org.springframework.web.util.Log4jConfigListener
		</listener-class>
  </listener>
  <context-param>
    <param-name>GLOBAL_INIT_PROPERTIES</param-name>
    <param-value>/home/solr/bin/ws/config/globalvar.properties</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			/WEB-INF/spring/spring-app.xml
		</param-value>
  </context-param>
  <servlet>
    <servlet-name>XFireServlet</servlet-name>
    <servlet-class>
			org.codehaus.xfire.transport.http.XFireConfigurableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XFireServlet</servlet-name>
    <url-pattern>/servlet/XFireServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XFireServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForceSolrServlet</display-name>
    <servlet-name>ForceSolrServlet</servlet-name>
    <servlet-class>com.search.servlet.ForceSolrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForceSolrServlet</servlet-name>
    <url-pattern>/solr/ForceSolrServlet</url-pattern>
  </servlet-mapping>
</web-app>