/* $Id: tabber.css,v 1.1 2011/11/18 05:52:41 mpanalig Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber { }
.tabberlive {
 margin-top:0;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
.tabMenu { /*background:url(../images/bgTabMenu.jpg) no-repeat;*/ height:38px; display:block }

ul.tabbernav
{
 margin:0;
 padding: 7px 5px;
 border-bottom: 1px solid #bdbdbd;
 font: bold 12px Verdana, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 8px 20px;
 margin-left: 3px;
 border-top: 1px solid #bdbdbd;
 border-left: 1px solid #bdbdbd;
 border-right: 1px solid #bdbdbd;
 border-bottom: none;
 background:#f2f2f2;
 text-decoration: none;
 height:40px;
 min-width:100px;
 color:#696969
 
}

.qtip ul.tabbernav li a
{
 padding: 2xp 8px;
 margin-left: 3px;
 border-top: 1px solid #bdbdbd;
 border-left: 1px solid #bdbdbd;
 border-right: 1px solid #bdbdbd;
 border-bottom: none;
 background:#f2f2f2;
 text-decoration: none;
 height:40px;
 min-width:100px;
 color:#696969
 
}

ul.tabbernav li a span
{
 background-position:right 0;
 text-decoration: none;
 height:40px;
 width:auto;
}

ul.tabbernav li a:link { color: #696969; }
ul.tabbernav li a:visited { color: #696969; }

ul.tabbernav li a:hover
{
 color: #000;
 background: #fff;
 border-color: #c7c7c7;
  text-decoration: none;
}

ul.tabbernav li.tabberactive a
{
 color: #000;
 background: #fff;
 border-color: #c7c7c7;
  border-bottom: 1px solid #fff;
   text-decoration: none;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: #fff;
 border-bottom: 1px solid #fff;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:5px;
 border:1px solid #bdbdbd;
 border-top:0;
 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}


/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
 width:98% !important; 
}
