<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator />

    <!--
      ============================================================
      ======================= APPENDERS ==========================
      ============================================================
    -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %.-1level | %c{0}:%L | %m%n</pattern>
        </encoder>
    </appender>

    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/tomcat/logs/searchgui.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>>${user.home}/tomcat/logs/searchgui.log.%i.gz</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>200MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} | %.-1level | %c{0}:%L | %m%n</pattern>
        </encoder>
    </appender>

    <!--
      ============================================================
      ======================== LOGGERS ===========================
      ============================================================
    -->
    <logger name="com" additivity="false">
        <appender-ref ref="fileAppender" />
    </logger>

    <root level="INFO">
        <appender-ref ref="fileAppender" />
    </root>
</configuration>