<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- Log4j configuration for the Search Manager. -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Log to file -->
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p  [%c{1}] %m %n" />
		</layout>
	</appender>
	
	<appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="/home/solr/tomcat/logs/searchgui.log" />
		<param name="MaxFileSize" value="2MB"/>  
       	<param name="MaxBackupIndex" value="5"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p  [%c{1}] %m %n" />
		</layout>
	</appender>
	
    <!-- Set logger. -->
	<logger name="com" additivity="false">
		<!--<appender-ref ref="fileAppender" />-->
		<appender-ref ref="consoleAppender" />
	</logger>

	<!-- Set Priority Level. DEV : debug, STG:INFO, PROD:INFO-->
	<root> 
    		<priority value ="info" /> 
    		<appender-ref ref="consoleAppender" />
  	</root>	
</log4j:configuration>