.linguistics table { font-size:12px }
.linguistics table td { vertical-align: top; text-align: center; padding:6px 3px; width: 19% }
.linguistics table td ul { list-style: none; margin-top:8px }
.linguistics table td ul li { padding:1px 0 }
