.sponsorListHolder{
	margin-bottom:30px;
	
	font-size:0.825em;
	color:#666;
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
}

.sponsor{
	width:160px;
	height:160px;
	float:left;
	/*margin:4px;*/

	/* Giving the sponsor div a relative positioning: */
	position:relative;
	cursor:pointer;
	
}

.sponsorFlip{
	/*  The sponsor div will be positioned absolutely with respect
		to its parent .sponsor div and fill it in entirely */

	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border:1px solid #ddd;
	background:url("../../images/sponsor/background.jpg") no-repeat center center #f9f9f9;
}

.sponsorFlip:hover{
	/*border:1px solid #999; */
	opacity:0.7;
  	filter:alpha(opacity=70); /* For IE8 and earlier */
	/* CSS3 inset shadow: 
	-moz-box-shadow:0 0 30px #999 inset;
	-webkit-box-shadow:0 0 30px #999 inset;
	box-shadow:0 0 30px #999 inset;*/
}

.sponsorFlip img{
	/* Centering the logo image in the middle of the .sponsorFlip div */

	position:absolute;
	top:50%;
	left:50%;
	margin:-70px 0 0 -70px;
}

.sponsorData{
	/* Hiding the .sponsorData div */
	display:none;
}

.cssReset .textTxt{ position:relative; text-align:center; width: 160px; float:left }

.cssReset .sponsorDescription, .sponsorDescription{
	font-size:11px;
	padding:10px;
	font-style:italic;
}

.cssReset .sponsorURL, .sponsorURL{
	font-size:11px;
	font-weight:bold;
	padding:0 10px;
}

.cssReset .contentSponsor, .contentSponsor	{ margin-top:30px }
.contentSponsor .sponsor	{ margin:8px }
.cssReset .contentSponsor ul { list-style:none; margin-left:8px }
.cssReset .contentSponsor ul li	{ float:left; display: inline; width: 156px; padding:0 10px; margin:14px 0 0 0  }
.cssReset .contentSponsor ul li p { padding-top:0; margin-top:0; font-size:11px; }
.cssReset .contentSponsor ul li p a { color:#0067a8; text-decoration: none }
.cssReset .contentSponsor ul li p.manage a	{ width:75px; float:right; text-align:right; margin-right:0 }

.cssReset .contentSponsor ul li div.slideCheckbox	{ width:73px; float:left; position:relative; font-size:11px; margin-top:-4px; margin-left:8px} 

