
/* Style for Usual tabs */
.usual {
	background:url(../images/tabsheader.jpg) no-repeat;
	color:#111;
	padding:0;
	width:982px;

}
.usual li {
	list-style:none;
	float:left;
}
.usual ul a {
	display:block;
	text-decoration:none!important;
	margin:10px 3px 0 3px;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#FFF;
	
}
.usual ul a.selected, .usual ul a:hover {
	margin-bottom:0;
	color:#fff;
	cursor:default;
	height:15px;
	cursor:pointer
}
.usual ul a.selected span.lspan {
	background:url(../images/Lactiveimg.png) no-repeat;
	width:5px;
	height:32px
}
.usual ul a.selected span.cspan {
	background:url(../images/Cactiveimg.png) repeat-x;
	width:auto;
	padding:0 10px 0 10px;
	height:32px;
	color:#666666
}
.usual ul a.selected span.rspan {
	background:url(../images/Ractiveimg.png) no-repeat;
	width:5px;
	height:32px
}
.usual ul a.hover span.lspan {
	background:url(../images/Lhoverimg.png) no-repeat;
	width:5px;
	height:32px
}
.usual ul a.hover span.cspan {
	background:url(../images/Choverimg.png) repeat-x;
	width:auto;
	padding:0 10px 0 10px;
	height:32px
}
.usual ul a.hover span.rspan {
	background:url(../images/Rhoverimg.png) no-repeat;
	width:5px;
	height:32px
}
.usual ul a span.lspan {
	background:url(../images/Lhoverimg.png) no-repeat;
	width:5px;
	height:32px
}
.usual ul a span.cspan {
	background:url(../images/Choverimg.png) repeat-x;
	width:auto;
	padding:0 10px 0 10px;
	height:32px
}
.usual ul a span.rspan {
	background:url(../images/Rhoverimg.png) no-repeat;
	width:5px;
	height:32px
}
.usual div {
	padding:10px 10px 8px 10px;
 *padding-top:3px;
 *margin-top:-15px;
	clear:left;
	font:bold 12px Arial, Helvetica, sans-serif
}
.usual div a {
	color:#fff;
	font-weight:bold;
}

.posRT9 {position:relative; top:9px}

.posRTneg3 {position:relative; top:-3px}

.marL15H41 {margin-left:15px; height:41px}

.posRTneg45 {position:relative; top:-45px; left:-5px}