/* facet list */
.facetlist 		{ list-style: none;  }
.facetlist li	{ padding:3px }


.cssReset .landingCont		{ padding:6px 10px; margin-top:1px; margin-bottom:20px;  }
.cssReset .landingCont ul		{ list-style: none; margin:0 }
.cssReset .landingCont li		{ padding: 2px; margin:0 }
.cssReset .AlphaCont			{ padding:8px}
.cssReset .AlphaCont h3			{ font-size: 14px; }
.cssReset .AlphaCont label		{ float:left; margin-left:10px; margin-top:10px }

.cssReset .AlphaCont ul			{ list-style: none }
.cssReset .AlphaCont li			{ padding: 2px 3px; }
.cssReset .AlphaCont .delete, 
.cssReset .landingCont .iconBtn { position:relative; top:4px; margin-right:5px; }

.cssReset .AlphaCont li input[type=text] { padding:0 !important; font-size:11px !important;}

.cssReset .colTop			{ border-top:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2; height: 36px; }
.cssReset .topRed			{ background: url(../theme/default/images/btTopRed.png) repeat-x; }
.cssReset .topBlue			{ background: url(../theme/default/images/btTopBlue.png) repeat-x; }
.cssReset .topGreen			{ background: url(../theme/default/images/btTopGreen.png) repeat-x; }

.facetList li				{ padding:3px 2px 4px 2px !important; color:#282828 }

.verticalTabs { color:#282828 }
.sort { float:right; }
.sort ul { list-style: none}
.sort ul li { float:left; margin-left:10px;  }
.sort ul li a { color:#3B79C2 }
.sort ul li.square { list-style-type: square !important; color:#3B79C2 }


.catValueList, .catValueTop { margin-top:8px !important }
.catValueList ul { list-style: none; line-height: 18px; margin-top:10px; margin-left:10px }
.catValueList ul li { padding:2px 0 }
.catValueTop ul { list-style: none; }
.catValueTop ul li { line-height: 29px }

.newFacetSort label.txtLabel { padding-top:6px }

#addFacetSortTemplate .selectCombo { border:1px solid #333 !important; background: #fff !important }
.qtip .ui-widget-content { margin-top:1px !important; border-top:1px solid #9c9c9c !important; border-left:1px solid #9c9c9c !important; border-bottom:1px solid #c5c4c4 !important; border-right:1px solid #c5c4c4 !important; background: #fff !important }

.qtip #facetItem .ui-widget .ui-menu		 	{ list-style: none !important; margin-left:-25px !important; padding: 8px 0 0 0 !important}
.ui-autocomplete { list-style:none !important; margin-left:0; padding-left:10px }